@use '../../../styles/constants/colors';

@mixin tileButton {
  width: 100%;
  height: 100%;
  font-weight: 900;
}

.gameBoard {
  margin-top: 10px;
  border: 4px solid colors.$GRAY_01;
}

.bombError {
  pointer-events: none;
}

.rowTiles {
  height: 18px;
}

.tile {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid colors.$GRAY_04;
}

.openButton {
  @include tileButton;
  color: colors.$GRAY_03;
  background: colors.$GRAY_03;
  border: 1px inset colors.$GRAY_04;
  box-shadow: -2px -1px -1px 2px rgba(0, 0, 0, 30%);
}

.closeButton {
  @include tileButton;
  color: colors.$GRAY_01;
  background: colors.$GRAY_01;
  border: 1px solid colors.$GRAY_04;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 30%);
}

.bombIcon {
  width: 10px;
  height: 10px;
}

.flagIcon {
  width: 10px;
  height: 10px;
  pointer-events: none;
  fill: colors.$FLAG;
}

.noValue {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.tileValue {
  color: colors.$NUM !important;
}
